# Source code
src/

# Tests
test/
examples/

# Config files
tsconfig.json
.env
.mocharc.cjs

# Development files
node_modules/
.github/
.git/
.gitignore
.npmrc
.npmignore
package-lock.json
bun.lock

# Keep build directory
!dist/